html, body {
  height: 100%;
  margin: 0;
}

#main{
  height: 100%;
  margin: 0;
}

#mynetwork {
                width: 80%;
                height: 80%;
                border: 1px solid lightgray;
            }
