html * {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html, body {
    height: 100%;
    margin: 0;
    background-color: #14181c;
    color: #eef0f2;
}

body {
    display: flex;
    flex-direction: column;
}

#header {
    display: inline;
    gap: 20px;
    padding: 10px;
}

#main {
    flex: 1;
    display: flex;
    background-color: #20262E;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    gap: 20px;
}
#search-container * {
    font-size: 30px;
}

#search-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.suggestions-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 600%; 
    overflow-y: auto;

    background-color: #2c3440;
    border: 1px solid #14181c;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    z-index: 1000; 
}

#search-bar {
    width: 100%;
    height: 50px; 
    border: 1px solid #2c3440;
    border-radius: 5px;
    box-sizing: border-box;
}

.suggestions-list div {
    padding: 10px;
    border-bottom: 1px solid #14181c;
    border-radius: 5px;

    cursor: pointer;
}

.suggestions-list div:hover,
.suggestions-list .selected {
    background-color: #14181c;
}

#r-header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

#r-main {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;       
    height: 100%;        
    gap: 5px;
    position: relative;
    min-height: 0;  

    background-color: #20262E;
}

#mynetwork {
    flex: 1;
    width: 100%;
    margin: 5px; 
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    top: 0;
    left: 0;
}

#movieInfo {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    width: 25%;

    border: 1px solid #34495e;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #14181c;
    padding: 0.5%;

    overflow-y: auto;

    transform: translateX(105%);
    transition: transform 0.4s ease;
}

#movieInfo.active {
    transform: translateX(0);
}

.footer {
    background-color: #2c3440;
    color: lightgray;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    border-top: 1px solid #34495e;
}

a {
    text-decoration: underline;
    color: #eef0f2;
}

h1 a {
    text-decoration: none;
}

dialog {
    width: 30%;
    height: 25%;
    border: 1px solid #2c3440;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #14181c;
    color: #eef0f2;
    font-size: 30px;
    padding:10px;
}
dialog form{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 20%;
    flex-direction: column-reverse;
}

#popupOk {
    width:100%;
    height:25%;
} 
#popupTextInput{
    width:100%;
    height:25%;
    border: 1px solid #2c3440; 
    border-radius: 5px;
    box-sizing: border-box;   
    font-size: 20px;
}
input[type="submit"]{
    border: 1px solid #2c3440;
    border-radius: 5px;
    box-sizing: border-box;
    padding:10px;
    font-size: 20px;
    background-color: #20262E;
    color: #eef0f2;
}

/* 
    I referenced this resource for the [Cast|Crew|Genres|Details] menu

    https://matemarschalko.medium.com/lets-build-a-css-only-tabbed-content-switching-ui-component-e711e195406b
*/

#content-cast,
#content-crew,
#content-genres,
#content-details {
    display: none;
}

#cast:checked ~ #content-cast,
#crew:checked ~ #content-crew,
#genres:checked ~ #content-genres,
#details:checked ~ #content-details {
    display: block;
}

[type="radio"] {
    display: none;
}

.tabs {
    display: flex;
    flex-direction: row;
}

.tab {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #2c3440;
    background-color: #20262E;
    box-sizing: border-box;
    flex: 1; 
}
.tab[for="cast"]{
    border-radius: 5px 0px 0px 0px;
}
.tab[for="details"]{
    border-radius: 0px 5px 0px 0px;
}

[id^="content"] {
    display: none;
    padding: 0.5%;
    border: 1px solid #2c3440;
    background-color: #14181c;
    border-radius: 0px 0px 5px 5px;
}

#cast:checked ~ .tabs label[for="cast"],
#crew:checked ~ .tabs label[for="crew"],
#genres:checked ~ .tabs label[for="genres"],
#details:checked ~ .tabs label[for="details"] {
  background-color: #14181c;
}

.tab:hover {
  text-decoration: underline;
}

#person {
    display: flex;
    flex-direction: column;
    border: 1px solid #2c3440;
    border-radius: 5px;
    width:fit-content;
    margin-bottom: 3.5%;
}

.peopleScroll {
    display:flex; 
    gap:0.5%;
    overflow-x: scroll;
}