<!doctype html>

<html>
    <head>
        <title>CineWeb</title> 
        <meta charset=utf-8> 
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div id="header">
            <input type="submit" id="apiKeyButton" value="API Key" style="float: right; margin-right: 1%;" />
            <label style = "float: right; margin-right: 1%; display: none;" id="submittedText">Valid API Key</label>
            <h1 style = "margin-left: 1%;"><a style = "text-decoration: none;" href="/">&#x1F578;&#xFE0E; CineWeb</a></h1>
        </div>
        <div id="main">
            <label>Enter a movie that you <u>enjoyed</u>.</label>
            <div id="search-container">
                <input type="text" name = "query" id="search-bar" autocomplete="off"/>
                <div id="suggestions-box" class="suggestions-list"></div>
            </div>
            <div style="height: 15%"></div>
        </div>

        <dialog id="popup">
            <form method="dialog">
                <input type="submit" id ="popupOk" value="Ok"/>
                <label id ="popupText"></label>
            </form>
        </dialog>

        <dialog id="settingsPopup">
            <form action="/setapikey/" method="POST">
                <input type="text" id="popupTextInput" name="apikey">
                <label for="textInput">Enter API Key:</label>
            </form>
        </dialog>
        <footer class="footer">
                Website by <a href="https://github.com/braydenphanna/">Brayden Hanna</a> & <a href="https://github.com/Andrew-13-0">Andrew Mayak</a>. Powered by <a href="https://www.themoviedb.org">TMDB</a>.
        </footer>
        <script>
            {% if valid is true%}
                document.getElementById('apiKeyButton').style.display = "none";
                document.getElementById('submittedText').style.display = "flex";
            {% endif %}
            {% if error == "Empty Query"%}
                popup = document.getElementById('popup');
                popupText = document.getElementById('popupText');
                popup.showModal();
                popupText.innerHTML = "Empty Query"
            {% endif %}
            {% if error == "Invalid API Key"%}
                popup = document.getElementById('popup');
                popupText = document.getElementById('popupText');
                popup.showModal();
                popupText.innerText = "Invalid API Key";
            {% endif %}
            apiDialog = document.getElementById('settingsPopup');
            document.getElementById('apiKeyButton').onclick = () => apiDialog.showModal();

            // Search suggestions logic
            searchInput = document.getElementById('search-bar');
            suggestionsBox = document.getElementById('suggestions-box');

            let currentQuery = "";

            searchInput.addEventListener('input', () => {
                const query = searchInput.value;
                currentQuery = query;

                suggestionsBox.innerHTML = '';

                if (query) {
                    fetch(`/search/${query}`)
                    .then(r => r.json())
                    .then(data => {
                        // make sure to handle the current query, disregard all others
                        if (query !== currentQuery) return;

                        suggestionsBox.style.display = 'block';
                        for (let i = 0; i < data.length; i++) {
                            const div = document.createElement('div');

                            // Create poster
                            const poster = document.createElement('img');
                            poster.style.border = "1px solid #14181c";
                            poster.src = "{{ url_for('static', filename='blank_movie.png') }}";

                            if (data[i].poster_path != null) {
                                poster.src = "https://image.tmdb.org/t/p/original" + data[i].poster_path;
                                poster.style.border = "";
                            }

                            poster.width = 50;
                            poster.height = 75;
                            poster.style.marginRight = "2%";

                            // Create text
                            const text = document.createElement('label');
                            text.innerHTML = data[i].title + " (" + data[i].release_date.substring(0, 4) + ")";

                            div.style.display = "flex";
                            div.style.alignItems = "center";
                            div.dataset.id = data[i].id;
                            div.dataset.title = data[i].title;

                            div.appendChild(poster);
                            div.appendChild(text);

                            div.onclick = () => {
                                window.location.href = `/recommendations/${div.dataset.id}`;
                            };

                            div.addEventListener("mouseenter", () => {
                                const prev = suggestionsBox.querySelector(".selected");
                                if (prev) prev.classList.remove("selected");
                                div.classList.add("selected");
                            });

                            suggestionsBox.appendChild(div);
                        }
                        const first = suggestionsBox.firstElementChild;
                        if (first) {
                            first.classList.add("selected");
                        }
                    })
                    .catch(err => console.error(err));
                } else {
                    suggestionsBox.style.display = 'none';
                }
            });
            searchInput.addEventListener("keydown", function(event) {
                if (event.key === "Enter") {
                    selected = suggestionsBox.querySelector(".selected") || suggestionsBox.firstElementChild;

                    if (!selected) return;

                    window.location.href = `/recommendations/${selected.dataset.id}`;
                }
            });
        </script>
    </body>
</html>