<!doctype html>

<html>
    <head>
        <title>CineWeb</title> 
        <meta charset=utf-8> 
        <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    </head>
    <body>
        <div id="r-header">
            <h1 style = "margin-left: 1%;"><a style = "text-decoration: none;" href="/">&#x1F578;&#xFE0E; CineWeb</a></h1>
            <div>
                <input type="checkbox" id="weightToggle">
                <label for="weightToggle">Show weights</label>
            </div>
        </div>
        <div id="r-main">
            <div id="mynetwork"></div>
            <div id="movieInfo" data-movie="">
                <center>
                    <label style="font-weight:bold; font-size: 40px;" id="movieTitle"></label><br>
                    <label style="font-weight:bold; font-size: 20px; color:lightgray" id="movieReleaseDate"></label>
                    <label style="color:lightgray" id="movieDirector">Directed by</label>
                </center><br>
                <label style="color:lightgray; font-weight:bold;" id="movieTagline"></label>
                <label style="color:lightgray" id="movieOverview"></label><br><br>
                <div>
                    <input type="radio" name="tabs" id="cast" checked>
                    <input type="radio" name="tabs" id="crew">
                    <input type="radio" name="tabs" id="genres">
                    <input type="radio" name="tabs" id="details">

                    <div class="tabs">
                        <label class="tab" for="cast">Cast</label>
                        <label class="tab" for="crew">Crew</label>
                        <label class="tab" for="genres">Genres</label>
                        <label class="tab" for="details">Details</label>
                    </div>
                    <div id="content-cast">
                        <div id="movieCast" class="peopleScroll"></div>
                    </div>

                    <div id="content-crew">
                        <div id="movieCrew" class="peopleScroll"></div>
                    </div>
                    <div id="content-genres">
                        <div id="movieGenres"></div>
                    </div>
                    <div id="content-details">
                        <label id="movieDetails"></label><br>
                        <label id="movieIMDB">IMDB</label><br>
                    </div>
                </div>
                <div>
                    <input type="submit" id ="likeButton" value="👍"/>
                    <input type="submit" id ="dislikeButton" value="👎"/>
                </div>
            </div>
        </div>

        <!-- This is code is a slightly modified version of the example on the getting start part of:
         https://visjs.github.io/vis-network/docs/network/

         It looks like we can modify the options later to adjust the physics and appearance of the graph.
          -->
        <script type="text/javascript">
            // Net node and edge amounts
            netNodes=0;
            netEdges=0;
            blacklist = [];

            // Create an array with nodes
            var nodes = new vis.DataSet([
                {% for movie in recommendations %}
                    { 
                        // Attributes of each node in the graph

                        // Corresponding id in graph
                        id: {{ loop.index0 }}, 

                        // Text that is shown on hover currently displays
                        title: "{{movie.title}} ({{movie.release_date[:4]}})",

                        // All of the extra movie info
                        json: {{ movie.to_dict() | tojson }},
                        
                        // These attributes set the nodes' form to their movie poster
                        shape: 'image', 
                        image: "https://image.tmdb.org/t/p/original{{ movie.poster_path }}" 

                    }{% if not loop.last %},{% endif %}
                {% endfor %}
            ]);
            netNodes+=nodes.length;

            var edges = new vis.DataSet([]);

            for (let i = 1; i <= 10; i++) {
                edges.add({
                    id: i,
                    from: 0,
                    to: i,
                    value: 1
                });
                netEdges++;
            }

            // Fetch similarity and update edges
            for (let i = 1; i <= edges.length; i++) {
                fetch(`/getsimilarity/0/${i}`)
                .then(r => r.json())
                .then(data => {
                    edges.update({
                        id: i,
                        label: (data.toFixed(2) * 100) + "%"
                    });
                });
            }   
            // Create a network
            var container = document.getElementById('mynetwork');

            // Provide the data in the vis format
            var data = {
                nodes: nodes,
                edges: edges
            };
            const options = {
                nodes: {
                    color: {
                        
                        border: '#eef0f2'
                    },
                    shapeProperties: {
                        useBorderWithImage: true
                    },
                    borderWidth: 0,
                    borderWidthSelected: 4
                },
                edges: {
                    scaling: {
                        min: 1,
                        max: 1
                    },
                    font: {
                            color: 'transparent',
                            strokeWidth: 0 
                    }
                }
            };

            // Initialize the network
            var network = new vis.Network(container, data, options);

            // Node clicked behavior
            network.on("selectNode", function (params) {
                if (params.nodes.length > 0) {
                    var nodeId = params.nodes[0];
                    
                    // Print debug info to browser console
                    console.log("Clicked node ID:", nodeId);
                    var clickedNodeData = nodes.get(nodeId);
                    console.log("Node Label:", clickedNodeData.title);
                    console.log("Node Data:", clickedNodeData.json);

                    // Zoom in on select
                    network.focus(nodeId, {
                        scale: 9,
                        animation: { duration: 500 }
                    });

                    // Hide any old movie info while new info is loading
                    movieInfo = document.getElementById("movieInfo");
                    movieInfo.classList.remove("active");

                    fetch("/moreinfo/"+clickedNodeData.json['id'])
                    .then(response => response.json()) // Parse JSON response
                    .then(data => {
                        console.log(data); // Access data from Python

                        movieInfo.classList.add("active");
                        
                        movieTitle = document.getElementById("movieTitle");
                        movieTitle.innerHTML = clickedNodeData.json["title"];
                        
                        movieReleaseDate = document.getElementById("movieReleaseDate");
                        movieReleaseDate.innerHTML = clickedNodeData.json["release_date"].substring(0,4);

                        movieDirector = document.getElementById("movieDirector");
                        movieDirector.innerHTML = "&nbsp;Directed by "+data["director"].join(", ");

                        movieCast = document.getElementById("movieCast");
                        populate_people(movieCast, data);

                        movieCrew = document.getElementById("movieCrew");
                        populate_people(movieCrew, data);

                        movieTagline = document.getElementById("movieTagline");
                        if(data["tagline"]!="") movieTagline.innerHTML = data["tagline"]+"<br><br>";

                        movieOverview = document.getElementById("movieOverview");
                        movieOverview.innerHTML = clickedNodeData.json["overview"];

                        movieGenres = document.getElementById("movieGenres");
                        movieGenres.innerHTML = data["genres"].join("<br>");

                        movieDetails = document.getElementById("movieDetails");
                        movieDetails.innerHTML = data["details"].join("<br>");

                        movieIMDB = document.getElementById("movieIMDB");
                        movieIMDB.innerHTML = "<b><a href='"+data["imdb"]+"' target='_blank'>IMDB</a></b>";

                        likeButton = document.getElementById("likeButton");
                        likeButton.dataset.id = clickedNodeData.json["id"];
                        likeButton.dataset.nodeId = nodeId;

                        dislikeButton = document.getElementById("dislikeButton");
                        dislikeButton.dataset.id = clickedNodeData.json["id"];
                        dislikeButton.dataset.nodeId = nodeId;
                    })
                    .catch(error => console.error('Error:', error));
                }
            });
            
            network.on('deselectNode', function (params) {
                // Zoom out on deselect
                if (network.getSelectedNodes().length === 0) {
                    network.fit({ animation: { duration: 500 } });
                    movieInfo.classList.remove("active");
                }
            });
            
            // Weight toggle logic
            document.getElementById('weightToggle').addEventListener('change', function(e) {
                const showLabels = e.target.checked;
                network.setOptions({
                    edges: {
                        font: {
                            color: showLabels ? '#343434' : 'transparent', 
                            strokeWidth: showLabels ? 2 : 0 
                        }
                    }
                });
            });
            
            // Like button logic
            likeButton = document.getElementById('likeButton');

            likeButton.addEventListener('click', function() {
                network.fit({ animation: { duration: 500 } });
                movieInfo.classList.remove("active");

                fetch("/more_recommendations/"+likeButton.dataset.id)
                    .then(response => response.json()) 
                    .then(data => {
                        for(var i=1; i<data.length; i++){
                            newTitle = data[i]["title"] +" ("+data[i]["release_date"].substring(0,4)+")";

                            // check if movie is on blacklist

                            if(blacklist.includes(data[i]["id"])){
                                continue;
                            }

                            // check if node already exists
                            var nodeExists = nodes.get({
                                filter: function (item) {
                                    return item.title === newTitle;
                                }
                            });

                            if(nodeExists.length>0){
                                // check if edge already exists
                                var edgeExists = edges.get({
                                    filter: function (item) {
                                        return item.from == likeButton.dataset.nodeId && item.to == nodeExists[0].id ||
                                        item.from == nodeExists[0].id && item.to == likeButton.dataset.nodeId;
                                    }
                                });

                                if(edgeExists.length==0){
                                    edges.add({
                                        id: netEdges+1,
                                        from: likeButton.dataset.nodeId,
                                        to: nodeExists[0].id,
                                        value: 1
                                    })
                                    netEdges++;
                                }
                            }else{
                                nodes.add({ id: netNodes, 
                                        title: newTitle,
                                        json: data[i],
                                        shape: 'image', 
                                        image: "https://image.tmdb.org/t/p/original"+ data[i]["poster_path"]
                                });
                                netNodes++;
                                edges.add({
                                    id: netEdges+1,
                                    from: likeButton.dataset.nodeId,
                                    to: netNodes-1,
                                    value: 1
                                })
                                netEdges++;
                            }
                        }
                });
            });

            dislikeButton = document.getElementById('dislikeButton');
            dislikeButton.addEventListener('click', function() {
                blacklist.push(Number.parseInt(dislikeButton.dataset.id));
                nodes.remove({id: Number.parseInt(dislikeButton.dataset.nodeId)});

                network.fit({ animation: { duration: 500 } });
                movieInfo.classList.remove("active");
            });

            function populate_people(group, data){
                group.innerHTML="";
                for(var i = 0; i<data[group.id].length; i++){
                    personImage = document.createElement("img");
                    personImage.src = "{{ url_for('static', filename='blank_person.png') }}";
                    if(data[group.id+"_images"][i]!=null) personImage.src = "https://image.tmdb.org/t/p/original/"+data[group.id+"_images"][i];
                    personImage.width=100;
                    personImage.height=150;
                    personName = document.createElement("label");
                    personName.innerHTML = data[group.id][i];
                    personRole = document.createElement("label");
                    personRole.style.color = "Gray";
                    if(group.id==="movieCast"){
                        personRole.innerHTML = data[group.id+"_characters"][i];
                    }else if(group.id==="movieCrew"){
                        personRole.innerHTML = data[group.id+"_jobs"][i];
                    }

                    person = document.createElement("div");
                    person.appendChild(personImage);
                    person.appendChild(personName);
                    person.appendChild(personRole);
                    person.id="person";
                    group.appendChild(person);
                }
                return group;
            }
        </script>
    </body>
</html>