<!doctype html>

<html>
    <head>
        <title>CineWeb</title> 
        <meta charset=utf-8> 
        <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div id="r-header">
            <h1 style = "margin-left: 1%;"><a style = "text-decoration: none;" href="/">&#x1F578;&#xFE0E; CineWeb</a></h1>
            <div>
                <input type="checkbox" id="weightToggle">
                <label for="weightToggle">Show weights</label>
            </div>
        </div>
        <div id="r-main">
            <div id="mynetwork"></div>
            <div id="movieInfo" data-movie="">
                <center>
                    <label style="font-weight:bold; font-size: 40px;" id="movieTitle"></label><br>
                    <label style="font-weight:bold; font-size: 20px; color:lightgray" id="movieReleaseDate"></label>
                    <label style="color:lightgray" id="movieDirector">Directed by</label>
                </center><hr>
                <label style="color:lightgray; font-weight:bold;" id="movieTagline"></label>
                <label style="color:lightgray" id="movieOverview"></label><br><br><hr>
                <div>
                    <input type="radio" name="tabs" id="cast" checked>
                    <input type="radio" name="tabs" id="crew">
                    <input type="radio" name="tabs" id="genres">
                    <input type="radio" name="tabs" id="details">

                    <div class="tabs">
                        <label class="tab" for="cast">Cast</label>
                        <label class="tab" for="crew">Crew</label>
                        <label class="tab" for="genres">Genres</label>
                        <label class="tab" for="details">Details</label>
                    </div>
                    <div id="content-cast">
                        <div id="movieCast" class="peopleScroll"></div>
                    </div>

                    <div id="content-crew">
                        <div id="movieCrew" class="peopleScroll"></div>
                    </div>
                    <div id="content-genres">
                        <div id="movieGenres"></div>
                    </div>
                    <div id="content-details">
                        <label id="movieDetails"></label><br>
                        <label id="movieIMDB">IMDB</label><br>
                    </div>
                </div>
                <div id="spacer"></div>
                <input type="radio" name="ratings" id="likeButton" value="like">
                <input type="radio" name="ratings" id="neutralButton" value="neutral" checked>
                <input type="radio" name="ratings" id="dislikeButton" value="dislike">
                <div class ="ratings">
                    <label class="rating" for ="likeButton">Like</label>
                    <label class="rating" for ="neutralButton">/</label>
                    <label class="rating" for ="dislikeButton">Dislike</label>
                </div>
            </div>
        </div>

        <!-- This is code is a slightly modified version of the example on the getting start part of:
         https://visjs.github.io/vis-network/docs/network/

         It looks like we can modify the options later to adjust the physics and appearance of the graph.
          -->
        <script type="text/javascript">
            // Net node
            netNodes=0;

            // Create an array with nodes
            var nodes = new vis.DataSet([
                {% for movie in recommendations %}
                    { 
                        // Attributes of each node in the graph

                        // Corresponding id in graph
                        id: {{ loop.index0 }}, 

                        // Text that is shown on hover currently displays
                        title: "{{movie.title}} ({{movie.release_date[:4]}})",

                        // All of the extra movie info
                        json: {{ movie.to_dict() | tojson }},
                        rating: "neutral",
                        // These attributes set the nodes' form to their movie poster
                        shape: 'image', 
                        image: "https://image.tmdb.org/t/p/original{{ movie.poster_path }}" 

                    }{% if not loop.last %},{% endif %}
                {% endfor %}
            ]);
            nodes.get(0).rating="like"
            nodes.update({
                    id: 0,
                    borderWidth: 2,
                    color: {
                        border: '#008000',
                        highlight:{
                            border: '#008000'
                        }
                    }
            });
            netNodes+=nodes.length;

            var edges = new vis.DataSet([]);

            for (let i = 1; i <= 10; i++) {
                const edgeId = makeEdgeId(0, nodes.get(i).id);

                edges.add({
                    id: edgeId,
                    from: 0,
                    to: nodes.get(i).id,
                    value: 1
                });
            }


            // Create a network
            var container = document.getElementById('mynetwork');

            // Provide the data in the vis format
            var data = {
                nodes: nodes,
                edges: edges
            };
            const options = {
                nodes: {
                    color: {
                        border: '#bad7f5'
                    },
                    shapeProperties: {
                        useBorderWithImage: true
                    },
                    borderWidth: 2,
                    borderWidthSelected: 4
                },
                edges: {
                    scaling: {
                        min: 1,
                        max: 1
                    },
                    font: {
                            color: 'transparent',
                            strokeWidth: 0 
                    },
                    color: {
                        color: "#fff",
                        highlight: "#fff",
                        hover: "#fff"
                    }
                }
            };

            // Initialize the network
            var network = new vis.Network(container, data, options);
            calculateWeights(nodes.get(0).id);

            // Node clicked behavior
            network.on("selectNode", function (params) {
                if (params.nodes.length > 0) {
                    var nodeId = params.nodes[0];
                    
                    // Print debug info to browser console
                    console.log("Clicked node ID:", nodeId);
                    var clickedNodeData = nodes.get(nodeId);
                    console.log("Node Label:", clickedNodeData.title);
                    console.log("Node Data:", clickedNodeData.json);

                    // Calculate zoom by screen size
                    container = network.body.container;
                    width = container.clientWidth;

                    baseWidth = 1920;
                    baseScale = 9;

                    scale = baseScale * (width / baseWidth);

                    // Zoom on select
                    network.focus(nodeId, {
                        scale: scale,
                        animation: { duration: 500 }
                    });

                    // Hide any old movie info while new info is loading
                    movieInfo = document.getElementById("movieInfo");
                    movieInfo.classList.remove("active");

                    fetch("/moreinfo/"+clickedNodeData.json['id'])
                    .then(response => response.json()) 
                    .then(data => {
                        console.log(data); // Access data from Python

                        movieInfo.classList.add("active");
                        
                        movieTitle = document.getElementById("movieTitle");
                        movieTitle.innerHTML = clickedNodeData.json["title"];
                        
                        movieReleaseDate = document.getElementById("movieReleaseDate");
                        movieReleaseDate.innerHTML = clickedNodeData.json["release_date"].substring(0,4);

                        movieDirector = document.getElementById("movieDirector");
                        movieDirector.innerHTML = "&nbsp;Directed by "+data["director"].join(", ");

                        movieCast = document.getElementById("movieCast");
                        populate_people(movieCast, data);

                        movieCrew = document.getElementById("movieCrew");
                        populate_people(movieCrew, data);

                        movieTagline = document.getElementById("movieTagline");
                        if(data["tagline"]!="") movieTagline.innerHTML = data["tagline"]+"<br><br>";

                        movieOverview = document.getElementById("movieOverview");
                        movieOverview.innerHTML = clickedNodeData.json["overview"];

                        movieGenres = document.getElementById("movieGenres");
                        movieGenres.innerHTML = data["genres"].join("<br>");

                        movieDetails = document.getElementById("movieDetails");
                        movieDetails.innerHTML = data["details"].join("<br>");

                        movieIMDB = document.getElementById("movieIMDB");
                        movieIMDB.innerHTML = "<b><a href='"+data["imdb"]+"' target='_blank'>IMDB</a></b>";

                        likeButton = document.getElementById("likeButton");
                        likeLabel = document.querySelector('label[for="likeButton"]')
                        likeLabel.style.display = "";
                        likeLabel.textContent = "Like";
                        likeLabel.style.cursor= "pointer";
                        likeButton.disabled = false;
                        likeButton.dataset.id = clickedNodeData.json["id"];
                        likeButton.dataset.nodeId = nodeId;

                        neutralButton = document.getElementById("neutralButton");
                        document.querySelector('label[for="neutralButton"]').style.display = "";

                        dislikeButton = document.getElementById("dislikeButton");
                        dislikeLabel=document.querySelector('label[for="dislikeButton"]')
                        dislikeLabel.style.display = "";
                        dislikeLabel.textContent = "Dislike";
                        dislikeLabel.style.cursor= "pointer";
                        dislikeLabel.disabled = false;
                        dislikeButton.dataset.id = clickedNodeData.json["id"];
                        dislikeButton.dataset.nodeId = nodeId;
                        likeButton.checked = clickedNodeData.rating === "like";
                        dislikeButton.checked = clickedNodeData.rating === "dislike";
                        neutralButton.checked = clickedNodeData.rating === "neutral";

                        if(likeButton.checked==true){
                            document.querySelector('label[for="neutralButton"]').style.display = "none";
                            document.querySelector('label[for="dislikeButton"]').style.display = "none";

                            likeButton.disabled = true;
                            likeLabel = document.querySelector('label[for="likeButton"]');
                            likeLabel.textContent = "You liked this movie";
                            likeLabel.style.cursor= "not-allowed";

                        }else if (dislikeButton.checked==true){
                            document.querySelector('label[for="neutralButton"]').style.display = "none";
                            document.querySelector('label[for="likeButton"]').style.display = "none";

                            dislikeButton.disabled = true;
                            dislikeLabel = document.querySelector('label[for="dislikeButton"]');
                            dislikeLabel.textContent = "You disliked this movie";
                            dislikeLabel.style.cursor= "not-allowed";
                        }else{
                            neutralButton.checked=true;
                        }
                    })
                    .catch(error => console.error('Error:', error));
                }
            });
            
            network.on('deselectNode', function (params) {
                // Zoom out on deselect
                if (network.getSelectedNodes().length === 0) {
                    network.fit({ animation: { duration: 500 } });
                    movieInfo.classList.remove("active");
                }
            });
            
            // Weight toggle logic
            document.getElementById('weightToggle').addEventListener('change', function(e) {
                const showLabels = e.target.checked;
                network.setOptions({
                    edges: {
                        font: {
                            color: showLabels ? '#343434' : 'transparent', 
                            strokeWidth: showLabels ? 2 : 0 
                        }
                    }
                });
            });
            
            // Like button logic
            likeButton = document.getElementById('likeButton');

            likeButton.addEventListener('click', function() {
                nodes.get(Number.parseInt(likeButton.dataset.nodeId)).rating="like"
                network.unselectAll();

                network.fit({ animation: { duration: 500 } });
                movieInfo.classList.remove("active");

                nodes.update({
                    id: Number.parseInt(likeButton.dataset.nodeId),
                    borderWidth: 2,
                    color: {
                        border: '#008000',
                        highlight:{
                            border: '#008000'
                        }
                    }
                });

                fetch("/more_recommendations/"+likeButton.dataset.id)
                    .then(response => response.json()) 
                    .then(data => {
                        for(var i=1; i<data.length; i++){
                            newTitle = data[i]["title"] +" ("+data[i]["release_date"].substring(0,4)+")";

                            // check if node already exists
                            var nodeExists = nodes.get({
                                filter: function (item) {
                                    return item.title === newTitle;
                                }
                            });

                            if(nodeExists.length>0){
                                // check if edge already exists
                                var edgeExists = edges.get({
                                    filter: function (item) {
                                        return item.from == likeButton.dataset.nodeId && item.to == nodeExists[0].id ||
                                        item.from == nodeExists[0].id && item.to == likeButton.dataset.nodeId;
                                    }
                                });

                                if(edgeExists.length==0){
                                    const edgeId = makeEdgeId(likeButton.dataset.nodeId, nodeExists[0].id);
                                    edges.add({
                                        id: edgeId,
                                        from: likeButton.dataset.nodeId,
                                        to: nodeExists[0].id,
                                        value: 1
                                    })
                                }
                            }else{
                                nodes.add({ id: netNodes, 
                                        title: newTitle,
                                        json: data[i],
                                        shape: 'image', 
                                        image: "https://image.tmdb.org/t/p/original"+ data[i]["poster_path"]
                                });
                                netNodes++;
                                const edgeId = makeEdgeId(likeButton.dataset.nodeId, netNodes-1);
                                edges.add({
                                    id: edgeId,
                                    from: likeButton.dataset.nodeId,
                                    to: netNodes-1,
                                    value: 1
                                })
                            }
                        }
                calculateWeights(Number.parseInt(likeButton.dataset.nodeId));
                });
            });

            dislikeButton = document.getElementById('dislikeButton');
            dislikeButton.addEventListener('click', function() {
                nodes.get(Number.parseInt(dislikeButton.dataset.nodeId)).rating="dislike"
                network.fit({ animation: { duration: 500 } });
                movieInfo.classList.remove("active");
                network.unselectAll();

                nodes.update({
                    id: Number.parseInt(dislikeButton.dataset.nodeId),
                    borderWidth: 2,
                    color: {
                        border: '#FF0000',
                        highlight:{
                            border: '#FF0000'
                        }
                    }
                });
                //nodes.remove({id: Number.parseInt(dislikeButton.dataset.nodeId)});
            });

            function populate_people(group, data){
                group.innerHTML="";
                for(var i = 0; i<data[group.id].length; i++){
                    personImage = document.createElement("img");
                    personImage.src = "{{ url_for('static', filename='blank_person.png') }}";
                    if(data[group.id+"_images"][i]!=null) personImage.src = "https://image.tmdb.org/t/p/original/"+data[group.id+"_images"][i];
                    personImage.width=100;
                    personImage.height=150;
                    personName = document.createElement("label");
                    personName.innerHTML = data[group.id][i];
                    personRole = document.createElement("label");
                    personRole.style.color = "Gray";
                    if(group.id==="movieCast"){
                        personRole.innerHTML = data[group.id+"_characters"][i];
                    }else if(group.id==="movieCrew"){
                        personRole.innerHTML = data[group.id+"_jobs"][i];
                    }

                    person = document.createElement("div");
                    person.appendChild(personImage);
                    person.appendChild(personName);
                    person.appendChild(personRole);
                    person.id="person";
                    group.appendChild(person);
                }
                return group;
            }
            function makeEdgeId(a, b) {
                return [Number(a), Number(b)].sort((x, y) => x - y).join("-");
            }

            function calculateWeights(mainNodeId) {
                const mainId = Number(mainNodeId);
                const mainNode = nodes.get(mainId);

                if (!mainNode || !mainNode.json) return;

                const connectedNodeIds = network.getConnectedNodes(mainId);

                connectedNodeIds.forEach(nodeId => {
                    const otherId = Number(nodeId);
                    const otherNode = nodes.get(otherId);

                    if (!otherNode || !otherNode.json) return;

                    fetch(`/getsimilarity/${mainNode.json["id"]}/${otherNode.json["id"]}`)
                        .then(r => r.json())
                        .then(data => {
                            const edgeId = makeEdgeId(mainId, otherId);

                            edges.update({
                                id: edgeId,
                                label: Math.round(data * 100) + "%"
                            });
                        })
                        .catch(err => console.error("Similarity error:", err));
                });
            }
        </script>
    </body>
</html>